* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    height: 80px;
    display: flex;
    /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
}

li {
    position: relative;
    text-decoration: none;
    font-family: "Honk", system-ui;
    color: #000000;
    font-size: 50px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    list-style-type: none;
}

li:after {
    content: "";
    position: absolute;
    background-color: #f00979;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

li:hover {
    color: #ffffff;
}

li:hover:after {
    width: 100%;
}


.menu {
    color: #9932cc;
    background-color: #1b1a22;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  #section01 {
    background-color: #41252541;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5w;
    flex-wrap: wrap;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    padding-top: 150px;
  }
  
  #section02 {
    background-color: green;
    height: 70vh;
  }
  
  #section03 {
    background-color: yellow;
    height: 70vh;
  }
  
  #section04 {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-top: 80px;
    background-color: antiquewhite;
  }
  
  .section01-left-div {
    width: 500px;
    height: 500px;
    background-color: rgba(54, 53, 53, 0.541);
    overflow: hidden;
    border-radius: 999px;
    transition: all 200ms linear;

  }
  
.image-style-section01{
    width: 500px;
    height: auto;
    transition: all 200ms linear;
    filter: blur(5px);
}

.image-style-section01:hover{
    transform: scale(1.2);
    transition: all 200ms linear;
    cursor: crosshair;
    filter: contrast(200%);
   
}

.section01-right-div {
    width: 800px;
    height: 500px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 2vh;
  }
  
  .heading-contact {
    width: 100%;
    text-align: center;
  }
  
  .left-contact {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 10px;
  }
  
  .right-contact {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 10px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  .l01 {
    width: auto;
    text-align: left;
  }
  
  .p01 {
    width: auto;
    text-align: left;
  }
  
  @media (width <= 600px) {
    .section01-left-div {
      width: 300px;
      height: 300px;
    }
  
    .img-style-section01 {
      width: 300px;
    }
    .l01 {
      width: 100%;
      text-align: center;
    }
  
    .p01 {
      width: 100%;
      text-align: center;
    }
  
    ul {
      gap: 2vw;
      font-size: 16px;
    }
  }